# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log


.venv

# =========================
# IDEs e Editores
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Configurações Locais
# =========================
instance/
config_local.py

# =========================
# Banco de Dados
# =========================
*.db
*.sqlite3

# =========================
# Migrations
# =========================
migrations/versions/

