<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanciare - Login</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/StyleLogin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="auth-body">
    {% include "components/Header.html" %}
    <div class="auth-container">
        <div class="auth-box">
            <div class="logo-auth">
                <img src="https://via.placeholder.com/40x40/0C2340/FFFFFF?text=L" alt="Lanciare Logo">
                <h1>Lanciare.</h1>
            </div>

            <h2>Login na sua Conta</h2>
            <p style="text-align: center; margin-bottom: 25px; color: var(--light-text);">Acesse para dar lances e gerenciar suas atividades.</p>
            
            <div id="login-form">
                <div class="input-group">
                    <label for="login-email">Email ou Usuário</label>
                    <input type="text" id="login-email" placeholder="seu@email.com ou @usuario" required>
                </div>
                <div class="input-group">
                    <label for="login-password">Senha</label>
                    <input type="password" id="login-password" required>
                </div>
                <p id="message"></p>
                <a href="#" class="forgot-password">Esqueceu sua senha?</a>
                <button id="submit" class="btn-primary login-submit">ENTRAR</button>
              </div>

            <div style="text-align: center; margin-top: 30px;">
                <p style="color: var(--light-text);">Não tem conta? <a href="{{url_for('signUpPage.SignUpPage')}}" style="color: var(--accent-orange); font-weight: 600;">Cadastre-se agora</a></p>
            </div>
        </div>
    </div>

{% include "components/Footer.html" %}

    <script src="{{ url_for('static', filename='js/mains/LoginMain.js') }}" type="module"></script>
</body>
</html>