<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Leilão</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/StyleLogIn.css') }}">
    <link rel="stylesheet" href="{{  url_for('static', filename='styles/components/header.css')  }}">
</head>
<body>

  {% include 'components/Header.html' %}

 <!-- Container principal que segura todo o conteúdo -->
  <div class="main-content">
    <!-- Caixa de Login -->
    <div class="login-container">
      <h2>Fazer Login</h2>
      <form id="loginForm" method="POST">
        <div class="input-group">
          <label for="email">Login</label>
          <input type="text" id="username" placeholder="E-mail ou CPF/CNPJ">
        </div>

        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" placeholder="Digite sua senha">
          <div class="forgot"><a href="{{url_for('changePasswordPage.ChangePasswordPage')}}" id="forgotPassword">Esqueceu a senha</a></div>
        </div>

        <div class="captcha">
          <input type="checkbox" id="notRobot"> <label for="notRobot">Não sou um robô</label>
        </div>

        <button type="button" class="btn btn-login" id="submit">Entrar</button>
        <div class="no-account">Não tem cadastro?</div>
        <button type="button" data-url="{{url_for('signUpPage.SignUpPage')}}" class="btn btn-create" id="sign-up">Criar conta</button>

        <div id="message"></div>
      </form>
    </div>
  </div>

  
{% include 'components/Footer.html' %}
  <script src="{{ url_for('static', filename='js/mains/LoginMain.js') }}" type="module"></script>
</body>
</html>
