<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{  url_for('static', filename='styles/components/header.css')  }}">
</head>
<body>

  {% include 'components/Header.html' %}

  <!-- Perfil do usuário -->
  <main>
    <div class="profile-container">
      <div class="profile-header">
        <img src="{{ photo_url }}" alt="Foto de {{ name }}" class="profile-photo">
        <div class="profile-info">
          <h2>{{ name }}</h2>
          <p>{{ email }}</p>
          <div class="profile-buttons">
            <a href="{{url_for('configPage.ConfigPage')}}" class="btn">Configurações</a>
            <a href="" class="btn">Inventário</a>
          </div>
        </div>
      </div>

      <form action="" method="POST">
        <a href="{{url_for('logout.logout')}}" class="btn btn-logout">sair</a>
      </form>
    </div>
  </main>

  {% include 'components/Footer.html' %}

</body>
</html>
