<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../static/styles/StyleSignUp.css">
      <link rel="stylesheet" href="{{  url_for('static', filename='styles/components/header.css')  }}">
</head>
<body>
  {% include 'components/Header.html' %}

  <main>
    <p id="message"></p>

    <form id="signUpForm">
      <h2>Cadastro</h2>

      <label>Tipo de usuário:</label>
      <select id="userType" name="user_type" required>
        <option value="">Selecione</option>
        <option value="physical_person">Pessoa Física</option>
        <option value="legal_person">Pessoa Jurídica</option>
      </select>

      <hr>

      <!-- Campos comuns -->
      <label>Username:</label>
      <input type="text" name="username" id="username" required>

      <label>Password:</label>
      <input type="password" name="password" id="password" required>

      <label>Email:</label>
      <input type="email" name="email" id="email" required>

      <label>Celular 1:</label>
      <input type="tel" name="cellphone1" id="cellphone1">

      <label>Celular 2:</label>
      <input type="tel" name="cellphone2" id="cellphone2">

      <label>Telefone:</label>
      <input type="tel" name="landline" id="landline">

      <label>CPF:</label>
      <input type="text" name="cpf" id="cpf">
  

     
      <div id="extraFields"></div>

      <button type="button" id="signUpBtn" class="btn btn-login">Cadastrar</button>
    </form>
  </main>


{% include 'components/Footer.html' %}


  <script src="{{ url_for('static', filename='js/validations/CPFvalidation.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='js/api/GetCEP.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='js/mains/SignUpMain.js') }}" type="module"></script>
</body>
</html>
