<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanciare - Aguardando</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dnet6nodm/image/upload/v1761875332/Users_photos/frijvnfjk7rlwtwxktd5.png"
        type="image/x-icon">
</head>

<body>
    <p>VOCE RECEBERA UM EMAIL</p>

    <a href="{{url_for(link, email = email) if email else url_for(link)}}">
        Não recebeu? clique aqui
    </a>
</body>

</html>