<header class="main-header">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/components/header.css') }}">
  <div class="container header-content">
    <a href="/">
      <div class="logo" style="text-decoration: none;">
        <img src="https://res.cloudinary.com/dnet6nodm/image/upload/v1761875332/Users_photos/frijvnfjk7rlwtwxktd5.png"
          alt="Lanciare Logo" />
        <span>Lanciare</span>
      </div>
    </a>

    <div class="search-bar-header">
      <input type="text" id="searchInput" placeholder="Buscar produtos, marcas e mais..." autocomplete="off" />
      <i class="fas fa-search"></i>
      <div class="autocomplete-list" id="autocompleteList"></div>
    </div>

    <nav class="main-nav-header">
      <ul class="menu-header">
        <li class="dropdown-categories-header">
          <a href="/products" class="nav-link">Leilões</a>
          <ul id="categories-ul" class="categories-header-menu">
          </ul>
        </li>

        <li class="dropdown-categories-header">
          <a href="/nos" class="nav-link">Empresa</a>
          <ul class="categories-header-menu">
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Como Funciona</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Políticas</a></li>
          </ul>
        </li>
        <li><a href="/contato" class="nav-link">Contato</a></li>
      </ul>


      {% if not user %}
      <div class="auth-buttons-header">
        <a href="#" id="openLogin" class="btn-login-header">Sign In / Sign Up</a>
        
        <!-- Modal de Login -->
        <div id="loginModal">
          <div class="login-content" id="login-cc">
            <span id="closeLogin" class="close">&times;</span>
            <h2 style="margin-bottom: 10px;">Entrar</h2>

            <form id="login-form">
              <div class="input-group">
                <label for="login-email">Email ou Usuário</label>
                <input type="text" id="login-email" placeholder="seu@email.com" required>
              </div>

              <div class="input-group">
                <label for="login-password">Senha</label>
                <input type="password" id="login-password" required>
                <a href="#" class="forgot-password">Esqueceu sua senha?</a>
              </div>


              <button type="submit" class="btn-primary login-submit">Entrar</button>


              <button type="button" class="google-login" style="background-color: #0C2340;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/2048px-Google_%22G%22_logo.svg.png" alt="Google">
                Entrar com Google
              </button>
            </form>

            <div class="signup-link">
              <p>Não tem conta?
                <a href="{{url_for('signUpPage.SignUpPage')}}" class="sign-up-btn">Cadastre-se agora</a>
              </p>
            </div>

            <p class="message" id="message"></p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="user-menu-header">
        <button id="userButton" class="user-button">
          <img src="{{ user.photo }}" alt="User" class="user-avatar" />
        </button>
        <div id="dropdownMenu" class="dropdown hidden">
          <p class="dropdown-header">Olá, {{ user.name }}</p>
          <p class="dropdown-header">R$ {{ user.wallet }}</p>
          <hr />
          <a href="{{url_for('profile.Profile')}}" class="dropdown-item">Perfil</a>
          <a href="{{url_for('configPage.ConfigPage')}}" class="dropdown-item">Configurações</a>
          <hr />
          <a href="{{url_for('logout.logout')}}" class="dropdown-item logout">Sair</a>
        </div>
      </div>
      {% endif %}
    </nav>

  </div>
  <script src="{{  url_for('static', filename='js/components/header.js')  }}"></script>
  <script src="{{  url_for('static', filename='js/mains/LoginMain.js')  }}" type="module"></script>
</header>