<header class="main-header">
  <div class="container header-content">
    <a href="/">
    <div class="logo">
      <img src="https://res.cloudinary.com/dnet6nodm/image/upload/v1761875332/Users_photos/frijvnfjk7rlwtwxktd5.png"
      alt="Lanciare Logo" />
      <span>Lanciare.</span>

    </div>
  </a>

    <div class="search-bar">
      <input type="text" id="searchInput" placeholder="Buscar produtos, marcas e mais..." autocomplete="off" />
      <i class="fas fa-search"></i>
      <div class="autocomplete-list" id="autocompleteList"></div>
    </div>

    <nav class="main-nav">
      <ul>
        <a style="text-decoration: none" href="#">Categorias</a>
        <a style="text-decoration: none" href="#">Leilões</a>
        <a style="text-decoration: none" href="#">Contato</a>
      </ul>
      {% if not user %}
      <div class="auth-buttons">
        <a style="text-decoration: none" href="{{url_for('loginPage.LoginPage')}}" class="btn-login">Sign In / Sign Up</a>
      </div>
      {% else %}

        <div class="user-menu">
    <button id="userButton" class="user-button">
      <img src="{{ user.photo }}" alt="User" class="user-avatar" />
    </button>

    <div id="dropdownMenu" class="dropdown hidden">
      <p class="dropdown-header">Olá, {{ user.name }}</p>
      <p class="dropdown-header">R$ {{ user.wallet }}</p>
      <hr />
      <a href="#" class="dropdown-item">Perfil</a>
      <a href="#" class="dropdown-item">Configurações</a>
      <hr />
      <a href="#" class="dropdown-item logout">Sair</a>
    </div>
  </div>

      {% endif %}
    </nav>
  </div>
</header>